<div class="modal-confirm modal hide fade">
  <div class="modal-header">
    <button data-dismiss="modal" class="close">x</button>
    <h3></h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="cancel btn">Cancel</button>
    <button class="submit btn">Ok</button>
  </div>
</div>
