<div class="modal-form-errors modal hide fade">
  <div class="modal-header">
    <button data-dismiss="modal" class="close">x</button>
    <h3>Whoops!</h3>
  </div>
  <div class="modal-body">
    <p class="subheading">It looks like there was a problem.</p>
    <ul></ul>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-warning">OK</button>
  </div>
</div>