<div id="set-password" class="modal-single-input modal hide fade">
  <div class="modal-header">
    <h3>Reset Password</h3>
  </div>
  <div class="modal-body">
    <form method="post" id="set-password-form" class="well span5">
      <p>Please enter your new password</p>
      <input type="password" name="pass" id="pass-tf" class="span5 required">
      <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      <div class="alert alert-error hide"></div>
      <button data-dismiss="alert" class="close"></button>
    </form>
  </div>
  <div class="modal-footer"></div>
</div>