<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Project Broadcast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" contents="">
  <meta name="author" content="Mark Miyashita">
  
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/jquery-ui-1.9.2.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="/lib/jquery-1.8.3.min.js"></script>
  <script src="/lib/jquery-ui-1.9.2.min.js"></script>
  <script src="/lib/jquery.tubeplayer.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>