<% include partials/head %>
<div style="margin:20px" class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width:40px">#</th>
        <th style="width:180px">Name</th>
        <th style="width:200px">Location</th>
        <th style="width:180px">Username</th>
        <th>Account Created</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tr>
      <td>1</td>
      <td>john</td>
      <td>United States</td>
      <td>john</td>
      <td>December 28th 2012, 1:55:57 am</td>
    </tr>
  </table>
</div>