<% include partials/head %>
<% include partials/header %>
<% include partials/container-open %>

<%= item.name %>
<div id="player"></div>

<script src="js/room.js"></script>
<% include partials/container-close %>
<% include partials/footer %>